#footer-nav {
.block !important;
.fixed;
.left(0);
.bottom(0);
width: 100%;
.h(5);
.bg-col(@grayDk);
.col(white);
.drop-shadow(0, 0px, 20px, 0.7);	

	@media screen and (orientation: landscape) {
	.bottom(-5);	
	}

	.links {
	.border-top(@wht; 0.2);
	.h(5);	
	
		a {
		.block;
		height: 100%;
		width: 25%;
		.fleft;	
		.border-right(@wht; 0.2);
		.col(@wht);
		.no-text-dec;
		
			&:last-child {
			.no-border;	
			}
			
			i {
			.block;
			text-align: center;
			.h(3);	
			.line-h(3);
			.font-size(2);
			}
			
			span {
			.block;
			text-align: center;
			.caps;
			font-size: 55%;
			}
			
			&:active, &:focus {
			.bg-col(@wht);
			.col(@grayDk);
			}
		}
		
	}
}

#footer-info {
.bg-col(@grayDk);
.col(white);
.pad-bot(2);
.border-top(@wht; 0.2);

	.social-links {	
		
		ul {
		list-style: none;
		.pad-left(0);
		text-align: center;
		.over-hide;
		.mag-bot(1.5);		
		}	
		
		li {
		.fleft;	
		width: 20%;
		}
		
		a {
		.bg-col-red;
		.col(@wht);
		.block;
		.line-h(4);
		.no-text-dec;
			
			span {
			.none;	
			}
			
			i {
			.block;
			.line-h(4);
			font-size: 1.3em;
			text-align: center;
			}	
			
			&:hover, &:active, &:focus {
			.bg-col-red-dk;
			}
		}
		
		li.twitter a {
		.bg-col-twitter;	
			&:active, &:focus {
			.bg-col(darken(@twitter_blue, 20%));
			}
		}
		
		li.fbook a {
		.bg-col-facebook;	
			&:active, &:focus {
			.bg-col(darken(@facebook_blue, 20%));
			}
		}
		
		li.google a {
		.bg-col-google-plus;	
			&:active, &:focus {
			.bg-col(darken(@google_orange, 20%));
			}
		}
		
		li.linkedin a {
		.bg-col-linkedin;	
			&:active, &:focus {
			.bg-col(darken(@linked_blue, 20%));
			}
		}

	}

	.notices {	
	.font-size(1.1);
	text-align: center;	
	.mag-bot(1.5);
		span {
		.in-block;
		.line-h(1.4);	
		}
		
		a {
		.col(@wht);
			&:active, &:focus {
			.col(@gray);
			}	
		}
	}
	
	.standards-logos {
	.over-hide;	
	text-align: center;
	}
	
	.lexcel-logo {
	.in-block;
	.h(7);	
	.w(8);
	.bg-size(contain);
	.bg-repeat(no-repeat);
	background-position: center center;
	.mag-right(1);
		
		a {
		.block;
		height: 100%;
		.indent(-999);	
		}
	}

	.headway-logo {
	.in-block;
	.h(7);
	.w(7);
	.rounded(100%);
	.bg-col(white);	
	.bg-size(80%);
	.bg-repeat(no-repeat);
	background-position: center center;
		
		a {
		.block;
		height: 100%;
		.indent(-999);	
		}
	}
}