#how-it-works {
.fixed;
.over-hide;
.top(0);
.left(0);
.right(0);
.bottom(0);
.bg-col-grayDk;
z-index: 100;
-webkit-animation-duration: 0.5s;
-moz-animation-duration: 0.5s;
-ms-animation-duration: 0.5s;
animation-duration: 0.5s;

	header.hiw-header {
	position: absolute;
	.top(0);
	.left(0);	
	width: 100%;
	.bg-col-grayLt;
	z-index: 100;
	.over-hide;
	
		h3 {
		.caps;
		.mag-bot(0);
		.font-size(2.5);
		.line-h(2);
		.col(@red);
		.bold;
		.bg-size(contain);
		.pad(0.5;0;0.5;1);
			span {
			.block;	
			.font-size(1.6);
			.col(@grayDk);
			.normal;
			}	
		}
				
		button#close-how-it-works {
		.abs;
		.right(0);
		.top(0);
		.no-border;
		.pad-all(0);
		.w(5);
		height: 100%;
		.no-rounded;
		.bg-col-gray;
		.col(white);
			&:hover, &:active, &:focus {
			.bg-col-grayDk;
			}
		}

	}
	
	footer.hiw_footer {
	position: absolute;
	.bottom(0);
	.left(0);	
	width: 100%;
	.bg-col-grayLt;
	z-index: 100;
	.over-hide;	
	.pad-all(1);
		
		.hiw-nav {
		text-align: center;
			a {
			.in-block;
			.w(3);
			.h(3);
			text-align: center;
			.line-h(3);
			.font-slab-serif;
			.mag-right(0.6);	
			.bg-col-gray;
			.col(white);
			.no-text-dec;
			.font-size(1.6);
			.rounded(100%);
				&:hover {
				.bg-col-grayDk;	
				}
				
				&.active {
				.bg-col-red;	
				pointer-events: none;	
				.bold;
				}
			}
		}

	}
	
	.slide-outer {
	.abs;	
	width: 100%;
	height: 100%;
	top: 100%;
	.opacity(0);
	text-align: center;	
	z-index: 1;
		&.active {
		.block;	
		.opacity(1);
		top: 0%;
		z-index: 2;
		}
		
		&:before {
			content: "";
			.in-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em;
		}
	}

	.step {
	width: 86%;
	.pad(1;2;2;2);
	.bg-col(white);
	.border(white; 0.4);
	text-align: center;
	.in-block;
	.drop-shadow(0, 0, 20px, 0.5);
	vertical-align: middle;
	.rel;
		
		.icons {
		.h(8);	
		.mag-bot(1);
			.icon {
			.in-block;
			.h(8);
			.w(8);
			.rounded(100%);
			.bg-repeat(no-repeat);
			background-position: center center;
			.bg-size(80%);	
			.bg-col(@grayLt);
				&:first-child {
				.bg-col(@gray);	
				.mag-right(1);
				}
				&:last-child {
				.bg-col(@grayDk);	
				.mag-left(1);	
				}
			}
		}
	
		.number {
		.abs;
		.top(-2);
		.left(-2);
		.w(4);
		.h(4);
		.font-slab-serif;
		.bold;	
		text-align: center;
		.font-size(2);
		.line-h(3.2);
		.bg-col(@gray);
		.col(white);
		.rounded(100%);
		.drop-shadow(0, 0, 20px, 0.5);
		.border(white; 0.4);		}

		p {
		.bold;	
		}
		
		p.header {
		.col(@gray);
		.caps;	
		.font-size(1.8);
		.line-h(1.8);
		.mag-bot(1);
			span {
			.col(@red);	
			}
		}
		
		p.text {
		.col(@grayDk);
		.font-size(1.4);
		.line-h(1.6);	
		.mag-bot(0);
			span {
			.col(@red);
			.caps;	
			}
			a {
			.col(@red);	
			text-decoration: underline;
			}
		}
		
		a.nav-link {
		.block;
		.caps;	
		text-align: center;
		.no-text-dec;
			span {
			.in-block;	
			.pad(0;2;0;5);
			.h(4);
			.bg-col(white);
			.rounded(8px);
			.line-h(3.2);
			.rel;
			.border(white; 0.4);
				i {
				.abs;
				.h(4);	
				.line-h(3.2);
				.left(2);
				}
			}
			&:hover, &:active, &:focus {
			
				span {
				.bg-col(@grayDk);
				.col(white);	
				}
			}
			&.back-link, &.next-link {
			.abs;
			left: 50%;
			.line-h(4);
			.mag-left(-2);
			.pad-all(0);	
			.w(4);
			.bg-col(white);
			.col(@gray);
			.rounded(8px);
				&:hover, &:active, &:focus {
				.bg-col(@gray);
				.col(white);
				}
			}
			
			&.back-link {
			.top(-8);	
			}
			
			&.next-link {
			.bottom(-8);	
			}
		}	
		
		&.col-red {
		.how-it-works-cols(@red);
		}
	
		&.col-purple {
		.how-it-works-cols(@purple);
		}
		
		&.col-green {
		.how-it-works-cols(@green);
		}
		
		&.col-pink {
		.how-it-works-cols(@pink);
		}
		
		&.col-orange {
		.how-it-works-cols(@orange);
		}
		
		&.col-blue {
		.how-it-works-cols(@blue);
		}
	}
	
}

#how-it-works-single {
.bg-col(@grayDk);
.pad-bot(2);

	h3.icon-header {
	.bg-col-gray;
	.border-bot(white; 0.4);
	}
	
	.step {
	.bg-col(white);	
	.mag(2;2;0;2);
	.rounded(4px);
	.pad(0;2;2;2);
	text-align: center;
	.rel;
		
		.icons {
		.h(6);
		text-align: center;
		.rel;
		.top(-1);
		.mag-bot(1);
			.icon {
			height: 100%;
			.w(6);
			.rounded(100%);
			.in-block;
			.bg-col-grayLt;
			.bg-repeat(no-repeat);
			background-position: center center;
			.bg-size(80%);
			.mag(0;0.2;0;0.2);
			.drop-shadow(0, 0, 5px, 0.5);
				&:first-child {
				.bg-col-gray;
				}
				
				&:last-child {
				.bg-col-grayDk;
				}	
			}	
		}
		
		.number {
		.abs;
		.top(-1);
		.left(-1);
		.w(4);
		.h(4);
		.font-slab-serif;
		.bold;	
		text-align: center;
		.font-size(2);
		.line-h(3.2);
		.bg-col(@gray);
		.col(white);
		.rounded(100%);
		.drop-shadow(0, 0, 20px, 0.5);
		.border(white; 0.4);
		}
		
		p.header {
		.col(@gray);
		.caps;	
		.font-size(1.8);
		.line-h(1.8);
		.mag-bot(1);
		.bold;
			span {
			.col(@red);	
			}
		}
		
		p.text {
		.col(@grayDk);
		.font-size(1.4);
		.line-h(1.6);	
		.mag-bot(0);
			
			strong {
			.col(@red);	
			.bold;
			}
			
			a {
			.col(@red);	
			.bold;
			}
		}
		
		&.col-purple {
		.how-it-works-single-cols(@purple);
		}
		
		&.col-green {
		.how-it-works-single-cols(@green);
		}
		
		&.col-pink {
		.how-it-works-single-cols(@pink);
		}
		
		&.col-orange {
		.how-it-works-single-cols(@orange);
		}
		
		&.col-blue {
		.how-it-works-single-cols(@blue);
		}
		
		&.col-red {
		.how-it-works-single-cols(@red);
		}
	
	}
	
}