body#landing-page {
	
	.tlw-wrapper {
	background-image: none;
	.pad-bot(0);
	min-height: 100%;
	}
	
	header[role="banner"] {
	.bg-col(white);	
	height: auto;
	z-index: 2;
	.rel;
	
		.header-inner {
		height: auto;
		.rel;
		}
	
		.logo {
		.pad-left(0);
		text-align: center;
			a {
			margin: auto;
			.block;
			.h(6);
			background-position: center center;	
			}
		}
		
		.lp-header {
		text-align: center;
		.border-bot(white; 0.4);
			
			h1 {
			.font-slab-serif;
			.caps;
			.font-size(1.4);
			.mag-top(0);
			.mag-bot(0);
			.line-h(1.4);
			.pad(0.8; 1.5; 0.8; 1.5);
			.col(white);
			}	
			
		}
		
	}
	
	.lp-bg-img {
	background-repeat: no-repeat;
	background-position: center center;
	.h(13);
	.bg-size;	
	.mag-left(-1.5);
	.mag-right(-1.5);
	}
	
	p.tel-num {
	.mag-top(3);
.mag-bot(3);
.col(@gray);
.border(@red; 0.3);
.rounded(8px);
.font-size(2.4);
.line-h(2);
text-align: center;
.rel;
.pad-top(2.5);
.pad-bot(1);

	&:before {
	.abs;
	left: 50%;
	.top(-2);
	.h(4);
	.w(4);	
	.bg-col(white);
	.col(@redMid);
	.border(@red; 0.3);
	content: "\f095";	
	font-family: FontAwesome;
	text-align: center;
	.col(white);
	.font-size(2.5);
	.line-h(3.6);
	.rounded(20px);
	.indent(0);
	.mag-left(-2);
	}
	
	span {
	.block;
	.caps;
	.bold;
	.col(@red);	
	}
	
	a {
	.col(@red);		
	}
	
	@media screen and (orientation: landscape) {
	.font-size(3);
	.pad-top(1.5);
	.pad-bot(1.5);
	.pad-left(7);
		&:before {
		.left(1);
		.top(-1);
		.h(7);
		.w(7);	
		.font-size(3.5);
		.line-h(6.6);	
		.rounded(100%);
		.mag-left(0);
		}
		
		span {
		.inline;	
		}	
	}
		
		&.tel-num-red {
		.tel-num-col(@red);
		}
			
		&.tel-num-purple {
		.tel-num-col(@purple);	
		}
			
		&.tel-num-green {
		.tel-num-col(@green);		
		}
			
		&.tel-num-pink {
		.tel-num-col(@pink);	
		}
			
		&.tel-num-orange {
		.tel-num-col(@orange);		
		}
		&.tel-num-blue {
		.tel-num-col(@blue);		
		}
	
	}	
	
	.content {
	.mag-top(0);
	.pad-top(2);
	.pad-bot(0);
	.bg-col(white); 
	.rel;
	
		.sidebar {
		.pad-top(1);
		}
	
		.page-wrapper {
		.pad(0;0;0;0);
		}
	
		.entry {
		.pad-left(0);
		.pad-bot(0);
		.mag-right(0);
		.mag-top(-0.8);	
		
			h2 {
			text-transform: none;
			.font-size(3);
			.line-h(3.5);
			.mag-bot(1);
			.font-normal;
			}
			
			p.lead {
			.font-size(1.8);
			.line-h(2);	
			.font-normal;
			.mag-bot(1.5);
			.col(@gray);
			}
			
			p.lg-txt {
			.font-size(1.6);
			.line-h(1.8);
			
				span {
				.in-block;	
				}
			
			}
			
			p, ul, ol {
			.font-size(1.2);
			.line-h(1.6);	
			}
			
			p.intro {
			.font-size(1.6);
			.line-h(2);	
			}
			
		}
	}
	
	.col-overlay {
	.opacity(0.7);
	}
	
	.striped-overlay {
	.opacity(0.3);	
	}
	
	.lp-form {
			
		input, textarea {
			.rounded(4px);
		}
		
		.gform_wrapper {
		.pad-left(0);	
		.pad(2.5;2;2;2);
		.rounded(8px);
		}
		
		.gform_description {
		.block;
		.bold;
		text-align: center;
		.col(white);
		}
		
		.gfield_label {
		.none;	
		}
		
		.gfield {
		.mag-bot(1);	
		}
		
		input.large {
		.h(4);	
		width: 100%;
		text-align: center;
		}
		
		select.large {
		width: 100%;	
		}
		
		.bootstrap-select {
		width: 100%;	
			a {
			.col(@grayDk);	
				&:hover, &:active, &:focus {
				.bold;
				}
			}	
		}
		
		h3 {
		.col(white);
		.rel;	
		text-align: center;
		.rounded(8px);
		.mag-left(2);
		.mag-right(2);
		.mag-bot(-2);
		.h(4);
		.line-h(4);
		.font-normal;
		.caps;
		.font-size(1.4);
		
			i {
			.none;
			}
		}
		
		.gform_footer {
		.pad-top(0) !important;
		.pad-bot(0) !important;
			&:before {
			content: none;
			}
			
			&:after {
			.block;
			content: "\f0a9";	
			font-family: FontAwesome;
			.abs;
			.right(2);
			.top(0);
			.col(white);
			.font-size(2);	
			.line-h(4);
			}
			
			input.gform_button {
			.caps;	
			.h(4);
			.font-size(1.6);
			}
		}
		
		&.lp-form-red {
			.lp-form-col(@red);
		}
		
		&.lp-form-purple {
			.lp-form-col(@purple);
		}
		
		&.lp-form-green {
			.lp-form-col(@green);
		}
		
		&.lp-form-pink {
			.lp-form-col(@pink);
		}
		
		&.lp-form-orange {
			.lp-form-col(@orange);
		}
		
		&.lp-form-blue {
			.lp-form-col(@blue);
		}
		
	}
}